name: Continuous Integration

env:
  SLACK_CHANNEL: cypress-slack-github-action-test-channel

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: .node-version
          cache: npm

      - name: Install Dependencies
        run: npm ci

      - name: Check Format
        run: npm run format:check

      - name: Check Lint
        run: npm run lint:check

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: .node-version
          cache: npm

      - name: Install Dependencies
        run: npm ci

      - name: Package
        run: npm run package

      - name: Run Vitest
        run: npm run test

  e2e:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: .node-version
          cache: npm

      - name: Install Dependencies
        run: npm ci

      - name: Package
        run: npm run package

      - name: Run passing Cypress test
        run: npx cypress run --spec cypress/e2e/passing.cy.js
        continue-on-error: false

      - name: Run failing Cypress test
        run: npx cypress run --spec cypress/e2e/failing.cy.js
        continue-on-error: true

      - name: Upload screenshots and videos to Slack
        if: github.actor == github.repository_owner
        uses: ./
        with:
          token: ${{ secrets.SLACK_TOKEN }}
          channel: ${{ env.SLACK_CHANNEL }}
          screenshotsDir: cypress/screenshots
          videosDir: cypress/videos
          message-text: 'Cypress test results from CI - screenshots and videos attached'
